<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Ember.js - <%= current_page.data.title || page_title %></title>
    <meta property="st:title" content="<%= current_page.data.title || page_title %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_tag 'images/favicon.png' %>
    <%= stylesheet_link_tag "application" %>
    <link href="/blog/feed.xml" rel="alternate" type="application/atom+xml" title="Ember.js - Blog" />
    <%= yield_content :head %>
  </head>

  <body class="guides <%= page_classes %>">
    <%= partial "header" %>

    <%- if content_for?(:outside_wrapper) %>
      <div class="outside-wrapper">
        <div class="container">
          <%= yield_content :outside_wrapper %>
        </div>
      </div>
    <% end %>

    <main class="container">
      <%= partial "sidebar" %>

      <article>
        <%= chapter_heading %>
        <hr>
        <%= yield %>
        <%= chapter_links %>
      </article>
    </main>

    <%= partial "footer" %>

    <%= yield_content :foot %>

    <%= javascript_include_tag 'common-modern', 'guides' %>
    <script src="http://static.jsbin.com/js/embed.js"></script>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
      _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
      _gaq.push(['_setAccount', 'UA-27675533-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
